<div style="text-align: center">
    <img src="../assets/nonja.png" alt="LCO logo" width="100" height="100" class="logo">
</div>
<h1 class="app-title">
    SURAJ TODO LIST
</h1>

<div class="container">
    Add a todo....
    <br/>
    <div id="namer">
        <div id="namer-input">
            <input type="text" class="input-text" placeholder="write ToDo" [(ngModel)]="todoValue" (keyup.enter)="addItem()">
        </div>
    </div><br>
    <button class="add-btn" (click)="addItem()">Add ToDo</button>
    <br><br>
    <div class="list">
        <ul>
            <li *ngFor="let item of list">
                <input type="checkbox" name="isDone" [(ngModel)]="item.isDone"> {{item.values}}
                <button class="btn" (click)="deleteItem(item.id)">Delete</button>
            </li>
        </ul>
    </div>
</div>